body{
    background-color: black;
    color: aliceblue;
}

*{  
    font-family:'Times New Roman', Times, serif;
}  

nav{
    position: sticky;
    top:0;
}

.saudacao{
    border:2px solid rgb(201, 6, 6);
    border-radius:30px;
    text-align: center;
    width:40%;
    margin-left:30%;
    margin-top:12px;
}

a.botao{
    display:inline;
    margin-left:45%;
    color: white;
    text-decoration: none;
    background-color: rgb(253, 0, 0);
    padding: 2px;
    border-radius:9px;
}

.botao:hover{
    background-color:rgb(52, 40, 40);
    border:1px solid #777;
}

.sobre_mim{
    width:600px;
    height:310px;
    margin:60px;
    margin-left:15%;
    border:2px solid rgb(232, 10, 10);
    border-radius:15px;
    display: inline-block;
    text-align: justify;
    word-spacing: 3px;
    line-height: 1.4;
    font-size:17px;
}

.foto{
    width: 300px;
    height: 290px;
    border:2px solid red;
    display: inline-block;
    border-radius: 15px;
    background-image:url('../img/foto_perfil.jpg');
    background-size: cover;
    background-position:center;
}
.conteudo_sobre_mim{
    margin:10px;  
}

.meus_projetos{
    text-align:center;
    color: black; 
    background-color:#F0EEEE;
    margin-left:20%;
    margin-right:20%;
    border-radius:100px;
}

.guia{
    background-color:#F0EEEE;
    color:black;
    text-align: center;
    border: 2px solid #777;
    margin-top:20px;
    padding-top: 10px;
    height:40px;
    font-size: 25px;
    word-spacing: 10px;  
}

.botao_nav{
    text-decoration: none;
    color:black;
    margin-left:10px;
}

.botao_nav:hover{
    border-bottom: 2px solid rgb(33, 33, 243);
}

.main{
    border:2px solid red;
    width:900px;
    height:500px;
    margin-left:220px;
    margin-top: 50px;  
    border-radius:20px;
    
}

.h2_main{
    margin-left: 10%;
    display: inline-block;
}

.back_end{
    display:inline-block;
    margin-left: 15%;
}

.front_end{
    display: inline-block;
    margin-left: 10%;
}

.descricao_projetos{
    text-align: center;
    margin-bottom: 70px;
    margin-top:50px;
}

.roda_pe{
    background-color: #F0EEEE;
    text-align: center;
    color:black;
    margin-top:20px;
    border-radius:30px;
}

